* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: grid;
  grid-template-areas:
    "main"
    "footer";
  grid-template-rows: auto auto;
  height: 100vh;
  font-family: "Noto Sans", sans-serif;
}

img {
  width: 100%;
  height: auto;
  display: block;
}

header {
  background-image: url(../images/top_1400.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position-x: center;
  background-position-y: center;
}

main {
  display: grid;
  grid-area: main;
}

a {
  color: #ffff;
}

/* TOP NAVIGATION - LOGO - MENU */

.header {
  box-shadow: 1px 1px 4px 0 rgba(0, 0, 0, 0.1);
  position: fixed;
  width: 100%;
  z-index: 3;
  min-height: 375px;
}

.header #logo {
  float: left;
  display: block;
  width: 18vh;
  padding: 30px 0px 30px 30px;
}

.header ul {
  margin: 0;
  padding: 0;
  list-style: none;
  overflow: hidden;
}

.header ul a:hover {
  background-color: rgba(250, 14, 42, 0.3);
}

.header li a {
  display: block;
  padding: 20px;
  border-bottom: 1px solid rgb(255, 255, 255);
  text-decoration: none;
}

.header .nav_menu {
  clear: both;
  max-height: 0;
  transition: max-height 0.2s ease-out;
}

.header .menu_icon {
  position: relative;
  padding: 30px 30px 30px 10px;
  float: right;
  cursor: pointer;
}

.header .menu_icon .nav_icon {
  background: #ffff;
  display: block;
  height: 3px;
  width: 40px;
  position: relative;
  transition: background 0.2s ease-out;
}

.header .menu_icon .nav_icon:before {
  background: #ffff;
  content: "";
  height: 100%;
  width: 100%;
  display: block;
  position: absolute;
  transition: all 0.2s ease-out;
  top: 8px;
}

.header .menu_icon .nav_icon:after {
  background: #ffff;
  content: "";
  height: 100%;
  width: 100%;
  display: block;
  position: absolute;
  transition: all 0.2s ease-out;
  top: -8px;
}

.header .hamburger {
  display: none;
}

.header .hamburger:checked ~ .nav_menu {
  max-height: 500px;
}

.header .hamburger:checked ~ .menu_icon .nav_icon {
  background: transparent;
}

.header .hamburger:checked ~ .menu_icon .nav_icon:before {
  transform: rotate(-45deg);
  top: 0;
}

.header .hamburger:checked ~ .menu_icon .nav_icon:after {
  transform: rotate(45deg);
  top: 0;
}

/*  MAIN SECTION */

/* MEDIA QUERIES 
  smaller screens */

@media (max-width: 824px) {
  .intro_section_2 {
    display: inline-grid;
    padding: 10px;
  }
}
/* larger screens */
@media (min-width: 825px) {
  .header .nav_menu {
    margin: 0 auto;
    clear: none;
    float: right;
  }
  .intro_section_2 {
    display: flex;
  }
}
